.taskList {
  margin-top: 1rem;
  list-style-type: none;
}
.task {

  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 0.8em;
  font-size: x-large;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.task--checked {
  text-decoration: line-through;
  color: #dd9b99;
  opacity: 0.5;
}
.task_container1 {
  width: 90%;
  display: flex;
  
}
.task_container2 {
  width: 10%;
  display: flex;
  justify-content: center;
}

.task__label_icon {
  width: 60%;
  height: 60%;
}

.task__label_icon:hover{
  cursor: pointer;
  opacity: 0.6;
}


.task__label_icon :hover {
  opacity: 0.5;
}

.round {
  position: relative;
  margin-right: 1.4em;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #dd9b99;
  border-color: #dd9b99;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

