.taskDetail-UpdateTaskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.taskDetail-UpdateTaskForm-Input-Label {
  border: 2px solid #dd9b99;
  font-size: 1.5em;
  width: 80%;
  padding: 1em ;
  font-weight: bold;
  font-size: x-large;
}

.taskDetail-UpdateTaskForm-Input {
  border: 2px solid #dd9b99;
  font-size: 1.5em;
  width: 90%;
  height: 7em;
  padding: 1em;
  margin-top: 2%;
  font-weight: bold;
  font-size: x-large;
  resize: none;
}

.taskDetail-UpdateTaskForm-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  align-items: center;
}

.taskDetail-UpdateTaskForm-btn button {
  background-color: #b2c6ab;
  font-size: x-large;
  color: white;
  padding: 2% 5%;
  border: 1px solid #dd9b99;
}
.taskDetail-UpdateTaskForm-btn button:hover{
  background-color: #dd9b99;
  cursor: pointer;
}