.addTaskForm {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.addTaskForm input {
  border: 1px solid #dd9b99;
  font-size: 1em;
  width: 45%;
  padding: 1rem;
  font-weight: bold;
  font-size: x-large;
  color:#324150;
  border-radius:5px;
}

.addTaskForm button {
  width: 30%;
  padding: 1% 2%;
  background-color: #b2c6ab;
  border: 1px solid #dd9b99;
  font-size: x-large;
  color: white;
  margin-top: 3%;
}

.addTaskForm button:hover{
  background-color: #dd9b99;
  cursor: pointer;
}